.PreviousMeteo {
    position: relative;
    margin: 0 10px;
}

.CityButton {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    width: fit-content;
    padding: 0 10px;
    transition: background-color 0.15s linear;
}

.Selected {
    background-color: gold;
}

.CityButton:hover {
    cursor: pointer;
}

.XButton {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    right: -10px;
    top: -10px;
}

.XButton:hover {
    cursor: pointer;
}